* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/hero\ img.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
}

.navbar{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: 100%;
    height: 50px;
}

.logo{

    padding: 15 0 0 60;
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
    color: rgb(255, 48, 91);
    width: 50%;
    float: left;
}
.nav{

    font-weight: 300;
    padding: 20px 0 0 80px;
    float: left;
    width: 50%;
}
.nav a{
    padding: 0 10 0 10;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 232, 237);
}
.nav i{
    visibility: hidden;
}

.content-home{
    text-align: center;
    margin-top: 200px; ;
}

#hello{
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

.content-home h1{
    color: rgb(255, 48, 91);
    font-size: 70px;
    line-height: 77px;
    font-weight: 700;
    margin: 10 0;
}

.content-home p{
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
}

.about{
    width: 100%;
    height: 110vb;
    padding: 100px 80px;
    font-family: "Roboto", sans-serif;

}

.photo{
    text-align: center;
    width: 50%;
    float: left;
    position: relative;
}
.photo img{
    border-radius: 5px;
}
.photo::before{
    content: '';
    width: 360px;
    height: 440px;
    background-color: white;
    border: solid 8px #555555;
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    bottom: 10px;
    left: 65px;
}
.content-about{
    width: 50%;
    float: left;
}

.first-content-about{
    width: 100%;
    height: (50% - 25px);
    position: relative;
    padding-bottom: 25px;
    border-bottom: dashed 1px gray;
}
.first-content-about h2{
    font-size: 34px;
    color: rgb(51, 51, 51);
    line-height: 22px;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 15px;
    position: relative;
}
.first-content-about h2::after{
    content: " ";
    width: 5px;
    height: 22px;
    position: absolute;
    background-color: rgb(255, 48, 91);
    left: 0px;
    top: 0;
}
.first-content-about p{
    font-weight: 400;
    color:rgb(85, 85, 85);
    line-height: 25px;
    font-family: "Roboto", sans-serif;
}
.second-content-about{
    width: 100%;
    height: 50%;
}
.second-content-about ul{
    width: 50%;
    float: left;
    list-style: none;
    margin-top: 25px;
    line-height: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(85, 85, 85);
}
.second-content-about ul li{
    margin-bottom: 25px;
}

.second-content-about ul span{
    color: rgb(51, 51, 51);
    font-weight: 500;
}

.second-content-about button{
    background-color: rgb(255, 48, 91) ;
    color: white;
    padding: 8 25;
    line-height: 24px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border: 2px solid rgb(255, 48, 91);
    margin-right:12px ;
    border-radius: 5px;
}
.second-content-about button i{
    padding-left: 10px ;
    font-size: 18px;
}

.Services{
    width: 100%;
    height: 85vb;
    background-color: #F1F1F1;
    font-family: "Source Sans 3", sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 75px 50px;
}

.Services h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(51, 51, 51);
    line-height: 30px;
    padding-bottom: 80px;
    position: relative;
}

.Services h2::after{
    content: "";
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    top:  52;
    left: 540;
}
.Services h2::before{
    content: "";
    background-color: rgb(255, 48, 91);
    width:200px;
    height: 1.5px;
    position: absolute;
    top:  55;
    left: 487;
}
.conent-Services{
    position: relative;
}
.conent-Services-1{
    width: 25%;
    float: left;
    padding: 30px 15px;
}
.conent-Services-1 i{
    color: rgb(255, 48, 91);
    font-size: 30px;
    padding-bottom: 20px;
}

.conent-Services::after{ 
    content: '';
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    left: 540;
    top: -51;
}
.conent-Services-1 h3{
    font-weight: 700;
    font-size: 19px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.conent-Services-1 p{
    color: rgb(85, 85, 85);
    line-height: 25px;
    font-family: "Roboto", sans-serif;
}

.portfolio{
    width: 100%;
    height: 155vb;
    font-family: "Source Sans 3", sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 75px 50px;
}

.portfolio h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(51, 51, 51);
    line-height: 30px;
    padding-bottom: 80px;
    position: relative;
}

.portfolio h2::after{
    content: "";
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    top:  52;
    left: 540;
}
.portfolio h2::before{
    content: "";
    background-color: rgb(255, 48, 91);
    width:200px;
    height: 1.5px;
    position: absolute;
    top:  55;
    left: 487;
}
.conent-portfolio{
    position: relative;
}
.conent-portfolio::after{ 
    content: '';
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    left: 540;
    top: -51;
}
.conent-portfolio-1 p{
    display: inline;
    font-weight: 400;
    line-height: 25px;
    padding: 20px;
    letter-spacing: 2px;
}
.conent-portfolio-1{
    margin-bottom: 30px;
}
.conent-portfolio-2 img{
    width: 33%;
    padding: 15px;
}

.rateing{
    background-color:#F1F1F1 ;
    font-family: "Source Sans 3", sans-serif;
    width: 100%;
    height: 40vh;
    padding: 50px;

}

.rate{
    text-align: center;
    width: 25%;
    float: left;
    padding: 20px 50px 50px ;
}

.rate i{
    color: rgb(255, 48, 91);
    font-size: 25px;
}

.rate h3{
    font-weight: 700;
    line-height: normal;
    font-size: 20px;
    padding: 10px 0;
}
.rate p{
    line-height: 18px;
    color: rgb(85, 85, 85);
}

.feedback{
    width: 100%;
    height: 100vb;
    font-family: "Source Sans 3", sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 75px 50px;
}

.feedback h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-bottom: 80px;
    position: relative;
}

.feedback h2::after{
    content: "";
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    top:  52;
    left: 540;
}
.feedback h2::before{
    content: "";
    background-color: rgb(255, 48, 91);
    width:200px;
    height: 1px;
    position: absolute;
    top:  55;
    left: 487;
}
.content-feedback{
    position: relative;
    width: 800px;
    margin: auto;
    border-radius:5px ;
    height: 300px;
    background-color: #F1F1F1;
}
.content-feedback img{
    border-radius: 100%;
}
.content-feedback::after{
    content: '';
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    left: 358;
    top: -51;
}

.content-feedback::before{
    content: "";
    position: absolute;
    border-radius: 5px;
    border-top: rgb(255, 48, 91) 100px solid;
    border-left: rgb(255, 48, 91) 100px solid;
    border-right: transparent 100px solid;
    border-bottom: transparent 100px solid;
    left: 0;
}
.feedback-photo{
    float: left;
    position: relative;
    top: 50;
    left: 30;
    width: 20%;
}
.feedback-photo img{
    width: 110px;
    height: 110px;

}

.feedback-2{
    padding: 30px;
    text-align: left;
    float: left;
    width: 80%;
}
.feedback-2 h3{
    font-family: "Source Sans 3", sans-serif;
    line-height: 30px;
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 20px;
}

#location{
    color: rgb(119, 119, 119);
    display: inline-block;
    font-size: 15px;
}
.feedback-2 h4{
    font-size: 15px;
    line-height: 17px;
    font-weight: 600;
    color: rgb(119, 119, 119);
    display: inline-block;
}

.feedback-2 p{
    margin: 20px 0;
    font-weight: 400;
    font-style: italic;
    line-height: 25px;
    color: rgb(85, 85, 85);
}

#star{
    color: gold;
}
.feedback-buttons{
    position: relative;
}
.feedback-buttons::after{
    content: '' ;
    position: absolute;
    width: 24px;
    height: 8px;
    background-color: rgb(255, 48, 91);
    border-radius:10px ;
    top: 8;
    left: 570;
}
.feedback-buttons::before{
    content: '' ;
    position: absolute;
    width: 8px;
    height: 8px;
    border:solid 1px rgb(255, 48, 91);
    border-radius:10px ;
    top: 8;
    left: 600;
}

.our-blog{
    width: 100%;
    height: 130vb;
    font-family: "Source Sans 3", sans-serif;
    color: rgb(51, 51, 51);
    background-color: #F1F1F1;
    text-align: center;
    padding: 75px 50px;
    position: relative;
    
}

.our-blog h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-bottom: 80px;
    position: relative;
}

.our-blog h2::after{
    content: "";
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    top:  52;
    left: 540;
}
.our-blog h2::before{
    content: "";
    background-color: rgb(255, 48, 91);
    width:200px;
    height: 1px;
    position: absolute;
    top:  55;
    left: 487;
}

.content-our-blog{
    width: 100%;
    position: relative;
}
.content-our-blog-1{
    width: 30%;
    background-color: white;
    margin: 15px;
    float: left;
    text-align: left;
}
.content-our-blog-1 img{
    width: 100%;
}
.content-our-blog-1 iframe{
    height: 31%;
    width: 100%;
}

.content-our-blog::before{
    content: '';
    background-color: rgb(255, 48, 91);
    width:100px;
    height: 0.5px;
    position: absolute;
    left: 540;
    top: -51;
}

.text{
    padding: 20px;
}

.text>p{
    color: rgb(85, 85, 85);
    line-height: 25px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.text h3{
    line-height: 26px;
    font-weight: 600;
    font-size: 24;
    margin-bottom: 20px;
}
#text{
    color: rgb(85, 85, 85);
    font-family: "Roboto", sans-serif;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.arrow{
    color: rgb(51, 51, 51);
    line-height: 25px;
    font-weight: 400;
}

.contact{
    width: 100%;
    height: 100vb;
    font-family: "Source Sans 3", sans-serif;
    color: rgb(51, 51, 51);
    padding: 75px 50px;
    position: relative;
}

.contact h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-bottom: 80px;
    position: relative;
}

.contact h2::after{
    content: "";
    background-color: rgb(255, 48, 91);
    width:80px;
    height: 0.5px;
    position: absolute;
    top:  52;
    left: 540;
}
.contact h2::before{
    content: "";
    background-color: rgb(255, 48, 91);
    width:160px;
    height: 1px;
    position: absolute;
    top:  55;
    left: 495;
}

.forms{
    text-align: center;
    position: relative;
}
.forms::before{
    content: "";
    background-color: rgb(255, 48, 91);
    width:80px;
    height: 0.5px;
    position: absolute;
    top:  -52;
    left: 540;;
}

.forms input{
    
    padding: 10px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    margin: 10px auto;
}
#text-form{
    width: 360px;
}

#subject{
    width: 720px;
}
#message{
    width: 720px;
    height: 100px;
    margin-bottom: 30px;
    padding: 10px;
}
.contact button{
    background-color: rgb(255, 48, 91) ;
    color: white;
    padding: 8 25;
    line-height: 24px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border: 2px solid rgb(255, 48, 91);
    margin-right:12px ;
    border-radius: 5px;
    position: absolute;
    left: 274;
}

.footer{
    width: 100%;
    height: 28vb;
    font-family: "Source Sans 3", sans-serif;
    background-color: #333333;
    text-align: center;
    color: white;
    padding: 40px 0;
}
.footer i{
    padding: 10px;
    margin-bottom: 20px;
}
.footer p{
    font-weight: 400;
}
.footer p span{
    color: rgb(255, 48, 91);
}